@using Wanc.Models
@{
    ViewBag.Title = "AddDeliveryCharges";
    Layout = "~/shared/_AdminLayout1.cshtml";
    wanc_dbEntities db = new wanc_dbEntities();
    var tblDATA = db.Tbl_DeliveryCharge.ToList();
}
}

<style>
    #headingadd {
        background-color: #8B5C7E;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: -15px;
        color: white;
    }
</style>
<br />
<br />
<br />
@if (TempData["msg"] != null)
{
    @Html.Raw(TempData["msg"]);
     TempData["msg"] = null;
}
<div class="container">
    <center>
        <div class="col-md-11" style="margin-top:50px;margin-bottom:50px;background:#fff;padding:15px;">
            <h2 id="headingadd">Add Delivery Charges</h2><br />

            <div class="panel-group" id="accordion">
                <form action="/Admin/AddDeliveryCharges" method="post">
                    <div class="row">

                        <div class="col-sm-4">
                            <label style="float:left">
                                Select Courier Type
                            </label>
                            <br />
                            <select class="form-control" name="Courier_Type" required>
                                <option value="">--Select--</option>
                                <option value="By_Air">By Air</option>
                                <option value="By_Surface">By Surface</option>
                            </select>

                        </div>
                        <div class="col-sm-8">
                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    <label style="float:left; font-size:15px">
                                        From Weight (g)
                                    </label>
                                    <br />
                                    <input type="text" class="form-control" name="From_Weight" value="" required>
                                </div>
                                <div class="col-sm-3">
                                    <label style="float:left">
                                        To Weight (g)
                                    </label>
                                    <br />
                                    <input type="text" class="form-control" name="To_Weight" value="" required>
                                </div>
                                <div class="col-sm-3">
                                    <label style="float:left">
                                        Charge
                                    </label>
                                    <br />
                                    <input type="text" class="form-control" name="Charge" value="" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <input class="btn btn-success " type="submit" value="Submit" style="float: left">
                </form>
            </div>
        </div>
    </center>
</div>

@if (tblDATA != null && tblDATA.Count >= 0)
{

    <div class="container">
        <center>
            <div class="col-md-11" style="margin-top:50px;margin-bottom:50px;background:#fff;padding:15px;">
                <h2 id="headingadd">Delivery Charges</h2><br />

                <div class="panel-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Courier Type</th>
                                <th>Charge</th>
                                <th>From Weight</th>
                                <th>To Weight</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0;}
                            @foreach (var item in tblDATA)
                            {
                                i++;
                                <tr>
                                    <th>@i</th>
                                    <th>@item.Courier_Type</th>
                                    <th>@item.Charge</th>
                                    <th>@item.From_Weight</th>
                                    <th>@item.To_Weight</th>
                                    <th>
                                        <a href="/Admin/DeleteDeliveryCharge?ID=@item.ID" class="btn btn-danger btn-sm">Delete</a>
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </center>
    </div>
}
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
