@using Wanc.Models
@{
    ViewBag.Title = "Reviews";
    Layout = "~/shared/_AdminLayout1.cshtml";
    wanc_dbEntities db = new wanc_dbEntities(); 
    var Models = (List<tbl_review>)ViewBag.dataa;
}

<style>
    th {
          color: white;
          text-align: center;
       }
</style>
@if (TempData["msg"] != null)
{
    @Html.Raw(TempData["msg"]);
    TempData["msg"] = null;
}

<section class="wrapper">

    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="/Admin/Dashboard">Dashboard</a></li>
            <li class="active"><a href="#">Reviews</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <a href="javascript:void(0);" onclick="tableToExcel('Totaldata', 'My Downline List')" style="border-radius: 0px; float:right;" class="btn btn-primary"><i class="fa fa-file-excel-o" style="margin-top:3px;"></i> Download In Excel</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body" style="overflow-x:scroll;">
            <div class="tab-content">
                <div class="tab-pane active fade in" id="inside_panel">
                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <table class="table" id="Totaldata">
                                <tr style=" background: lightgrey;">
                                    <th style="color:black;">ID</th>
                                    <th style="color:black;">UserID</th>
                                    <th style="color:black;">Comment</th>
                                    <th style="color:black;">Rating</th>
                                    <th style="color:black;">Product-ID</th>
                                    <th style="color:black;">Product-name</th>
                                    <th style="color:black;">Date</th>
                                    <th style="color:black;" colspan="2">Action</th>
                                </tr>
                                @{int i = 0;}
                                @foreach (var item in Models)
                                {
                                    i++;

                                    <tr>
                                        <th style="background-color:lightgrey;">@i</th>
                                        @if (item.ClientName == null)
                                        {
                                            <th>No Data!!!</th>
                                        }
                                        else
                                        {
                                            <th>@item.ClientName</th>
                                        }
                                        @if (item.Comment == null)
                                        {

                                            <th>No Data!!!</th>
                                        }
                                        else
                                        {
                                            <th>@item.Comment</th>
                                        }
                                        @if (item.Rating == null)
                                        {
                                            <th>No Data!!!</th>
                                        }
                                        else
                                        {
                                            <th>@item.Rating Stars</th>
                                        }

                                        @if (item.ProductID == null)
                                        {
                                            <th>No Data!!!</th>
                                        }
                                        else
                                        {
                                            <th>@item.ProductID</th>
                                        }

                                        @if (item.Productname == null)
                                        {
                                            <th>No Data!!!</th>
                                        }
                                        else
                                        {
                                            <th>@item.Productname</th>
                                        }
                                        @if (item.Createdate == null)
                                        {
                                            <th>No Data!!!</th>
                                        }
                                        else
                                        {
                                            <th>@item.Createdate.Value.ToString("dd-mmm-yyyy")</th>
                                        }
                                        <th>
                                            <a href="/admin/Delreview?ReviewId=@item.ID" class="btn btn-danger btn-sm"> Delete  </a>

                                        </th>
                                    </tr>

                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<script type="text/javascript">
    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
          , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
          , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
          , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
</script>
