@using Wanc.Models
@{
    ViewBag.Title = "ViewNotification";
    Layout = "~/shared/_AdminLayout1.cshtml";
    var data = (List<tbl_Notifcation>)ViewBag.data;
}

<script>
    $(document).ready(function () {
        $('#sarvesh4').DataTable();
    });
</script>
@if (TempData["msg"] != null)
{
    @Html.Raw(TempData["msg"]); TempData["msg"] = null;
}
<section class="wrapper">
    @*<div class="page-header" style="margin-top:20px;">
            <div class="page-title">
                <h3>Manage SubCategory</h3>
            </div>
        </div>*@
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="/Admin/Dashboard">Dashboard</a></li>
            <li class="active"><a href="#">View Notification</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <a href="javascript:void(0);" onclick="tableToExcel('Totaldata', 'My Downline List')" style="border-radius: 0px; float:right;" class="btn btn-primary"><i class="fa fa-file-excel-o" style="margin-top:3px;"></i> Download In Excel</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="font-weight:bold">View Notification</h3>
        </div>
        <div class="panel-body" style="overflow-x:scroll;">
            <div class="tab-content">
                <div class="tab-pane active fade in" id="inside_panel">
                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <table class="table" id="Totaldata">
                                <thead>
                                    <tr>
                                        <th>S. No</th>
                                        <th>Message for</th>
                                        <th>Notification</th>
                                        <th>Create Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @if (data != null)
                                {
                                    <tbody>
                                        @{ int i = 0;}
                                        @foreach (var item in data)
                                        {
                                            i = i + 1;
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.MessageFor</td>
                                                <td>@item.notification</td>
                                                <td>@item.createdate.Value.ToString("dd-MMM-yyyy")</td>
                                                <td> <a href="/Admin/Deletenotification?id=@item.id" onclick="return confirm('Are you sure to Delete?');" class="btn btn-danger">Delete</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
          , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
          , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
          , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
</script>
