@model IEnumerable<Wanc.Models.ProductDto>
@{
    ViewBag.Title = "ViewAllProduct";
    Layout = "~/shared/sallerlayout.cshtml";
}

<style>
    td {
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>
<section class="wrapper">
    @if (TempData["msgg"] != null)
    {
        @Html.Raw(TempData["msgg"]); TempData["msgg"] = null;
    }
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="/Saller/Dashboard">Dashboard</a></li>
            <li class="active"><a href="#">All Product Details</a></li>
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title" style="font-weight: bold; padding-top: 15px;">All Product Details</h6>
        </div>
        <div class="tab-content">
            <div class="tab-pane active fade in" id="inside_panel">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table" id="sarvesh2">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Brand</th>
                                    <th>Category</th>
                                    <th>Subcategory</th>
                                    <th>MOQ</th>
                                    <th>Unit</th>
                                    <th>Price(Rs.)</th>
                                    <th>Margin(%)</th>
                                    <th>Gst(%)</th>
                                    <th>Image</th>
                                    <th>Update By</th>
                                    <th>Seller-ID</th>
                                    <th colspan="3">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                @{ int i = 0;}
                                @foreach (var item in Model)
                                {
                                    i = i + 1;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.ID</td>
                                        @if (item.Name.Length >= 12)
                                        {
                                            <td>@item.Name.Substring(0, 12)</td>
                                        }
                                        else
                                        {
                                            <td>@item.Name</td>
                                        }
                                        <td>@item.Unit</td>
                                        <td>@item.BrandName</td>
                                        <td>@item.CategoryName</td>
                                        <td>@item.Subname</td>
                                        <td>@item.Unit</td>
                                        <td><i class="fa fa-inr"> </i>@item.Price</td>
                                        <td>@item.Discount%</td>
                                        <td>@item.GST%</td>
                                        <td><img src="@item.Image" style="width:100px;height:50px" /></td>
                                        <td>@item.UpdateBy</td>
                                        <td>@item.sallerID</td>
                                        @if (item.ApprovedByadmin == true)
                                        {
                                            <td style="color:forestgreen">
                                                Approved
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="color:red">
                                                Not Approved
                                            </td>
                                        }

                                        @if (item.active == true)
                                        {
                                            <td style="color:forestgreen;background:#add8e659">
                                                Unblocked
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="color:red;background:#add8e659">
                                                Blocked
                                            </td>
                                        }


                                        <td style="background:#add8e659">
                                            <a class="btn btn-warning btn-sm" href="/saller/BlockProduct?Id=@item.ID">Unblocked / Block  </a>
                                        </td>


                                        <td> <a href="DeleteProduct?Id=@item.ID" onclick="return confirm('Are you sure to Delete?');" class="btn btn-danger btn-sm">Delete</a></td>

                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
